--only-binary=:all:

# Web Frameworks
fastapi
uvicorn[standard]
streamlit
python-dotenv
requests

# Data Handling
pandas
numpy
scikit-learn
networkx

# Geo & Mapping
folium
geopy
haversine

# Visualization & Reports
matplotlib
reportlab

# Database Utils
sqlite-utils

# Compiler (for scikit-learn/numpy builds)
cython
